table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td.red {
    background-color: lightpink;
}
td.green {
    background-color: lightgreen;
}
td.white {
    background-color: whitesmoke;
}